USE [master]
GO
/****** Object:  Database [EmpDB_211224]    Script Date: 21.12.24 23:34:13 ******/
CREATE DATABASE [EmpDB_211224]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmpDB_211224', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EmpDB_211224.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmpDB_211224_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EmpDB_211224_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmpDB_211224].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmpDB_211224]
GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 21.12.24 23:34:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[empid] [int] IDENTITY(1,1) NOT NULL,
	[empName] [nvarchar](50) NULL,
	[salary] [int] NULL,
 CONSTRAINT [PK_tblEmployee] PRIMARY KEY CLUSTERED 
(
	[empid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblEmployee] ON 

INSERT [dbo].[tblEmployee] ([empid], [empName], [salary]) VALUES (1, N'xyz', 111)
INSERT [dbo].[tblEmployee] ([empid], [empName], [salary]) VALUES (2, N'dinesh', 45000)
INSERT [dbo].[tblEmployee] ([empid], [empName], [salary]) VALUES (3, N'ppp', 999)
SET IDENTITY_INSERT [dbo].[tblEmployee] OFF
GO
USE [master]
GO
